body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #e1e1e3;
    color: #323437;
}

a:link, a:visited {
    color: #aaaeb3;
    /* text-decoration: none; */
}

a:hover, a:active {
    color: #323437;
    /* text-decoration: underline; */
}

input,textarea {
    outline: none;
    border: none;
    border-radius: .5rem;
    background: #d1d3d8;
    color: #323437;
    padding: .5em;
    font-size: 1em;
    caret-color: #323437;
    line-height: 1.25em
}

details {
    border-radius: .5rem;
    padding: 10px;
    margin: 10px auto;
    border: 3px solid #d1d3d8
}

details:not([open]):hover {
    background-color: #d1d3d8;
    cursor: pointer;
}

details summary {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.construction {
    border: 2px solid #f39c12;
    padding: 20px;
    background-color: #fef5e7;
    color: #e67e22;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.contact img {
    width: 200px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#status {
    margin-top: 15px;
    color: #e74c3c;
}
