<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
  {% include head_icons.html %}
</head>
<body>
  <div class="container">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>
  <script>
    twemoji.parse(
      document.body,
      { base: 'https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/' }
    );
  </script>
</body>
</html>
